@import './variable.scss';

.login-container {
    width: 100vw;
    height: 100vh;
    background: $default-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-main {
        width: 30rem;
        height: 20rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgba(18, 28, 68, .5);
        border-radius: 0.2rem;
        box-shadow: 0 0 10px  $default-bg-main;

        .login-title {
            flex: 0 0 6rem;
            font-size: 1.5rem;
            font-weight: 700;
            color: $default-color-blue;
            letter-spacing: 0.2rem;
            line-height: 4rem;
            text-align: center;
            position: relative;
            -webkit-box-reflect: below -6rem linear-gradient(transparent, rgba(0, 0, 0, .2));

            .jump-item {
                position: relative;
                display: inline-block;
                animation: jump 1s calc(0.1s * var(--i)) ease-in-out infinite;
            }
        }

        .login-box {
            flex: 1;
            height: calc(100% - 12rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .login-box-ctx {
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .login-input-item {
                    width: 100%;
                    flex: 1;
                    display: flex;
                    line-height: 4rem;
                    align-items: center;

                    .input-item-label {
                        width: 4rem;
                        display: inline-block;
                        color: $default-text-color-btn;
                    }

                    .input-item-value {
                        width: calc(100% - 4rem);
                        height: 2rem;
                        background: rgba(32, 48, 96, .5);
                        color: $default-text-color-btn;
                        padding: 0 0.5rem;
                    }
                }
            }
        }

        .login-footer {
            flex: 0 0 6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .login-btn {
                height: 2rem;
                width: 50%;
                outline: none;
                border: none;
                background: $default-color-blue;
                color: $default-text-color-btn;
                cursor: pointer;
                letter-spacing: 0.2rem;
                border-radius: 0.2rem;

                &:hover {
                    background: $default-color-blue-light;
                }
            }
        }
    }
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-16px);
    }
    40%, 100% {
        transform: translateY(0px);
    }
}