@import './variable.scss';

.login-container {
  width: 100vw;
  height: 100vh;
  background: url('../images/Manhattan_Sunset_by_Giacomo_Ferroni.jpg') 0 0 no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-main {
    width: 30rem;
    height: 20rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(18, 28, 68, 0.8);
    border-radius: 0.2rem;
    box-shadow: 0 0 10px $default-bg-main;

    .login-title {
      flex: 0 0 6rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: $default-color-blue;
      letter-spacing: 0.2rem;
      line-height: 4rem;
      text-align: center;
      position: relative;
      -webkit-box-reflect: below -6rem linear-gradient(transparent, rgba(0, 0, 0, 0.2));

      .jump-item {
        position: relative;
        display: inline-block;
        animation: jump 1s calc(0.1s * var(--i)) ease-in-out infinite;
      }
    }

    .login-box {
      flex: 1;
      height: calc(100% - 12rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .login-box-ctx {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .login-input-item {
          width: 100%;
          flex: 1;
          display: flex;
          line-height: 4rem;
          align-items: center;

          .input-item-label {
            width: 4rem;
            display: inline-block;
            color: $default-text-color-btn;
          }

          .input-item-value {
            width: 100%;
            height: 2.66rem;
            line-height: 2.66rem;
            background: rgba(32, 48, 96, 0.5);
            color: $default-text-color-gray;
            padding: 0 0.8rem;
            border-radius: 0.3rem;
            border: 1px solid rgba(51,68,102,.8);
            &:focus {
              border-color: rgba(51,119,238,.5);
            }
          }
        }
      }
    }

    .login-footer {
      flex: 0 0 6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .login-btn {
        height: 2rem;
        width: 60%;
        outline: none;
        border: none;
        color: $default-text-color-btn;
        cursor: pointer;
        letter-spacing: 0.2rem;
        border-radius: 0.2rem;
        background: linear-gradient(30deg, $default-color-blue, $default-color-blue-light);

        &:hover {
          background: linear-gradient(60deg, $default-color-blue-light, $default-color-blue);
        }
      }
    }
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-16px);
  }
  40%,
  100% {
    transform: translateY(0px);
  }
}
