@import './assets/scss/variable';

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: cursive !important;
}

input {
  padding: 0;
  border: none;
  outline: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
  display: flex;
}

@media screen and (min-device-width:768px) and (max-device-width:1800px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (min-device-width:1801px) and (max-device-width:2000px) {

  html,
  body {
    font-size: 15px;
  }
}

@media screen and (min-device-width:2001px) and (max-device-width:2560px) {

  html,
  body {
    font-size: 20px;
  }
}

@media screen and (min-device-width:2561px) and (max-device-width:3840px) {

  html,
  body {
    font-size: 30px;
  }
}

@media screen and (min-device-width:3841px) {

  html,
  body {
    // font-size: 12px;
    font-size: 35px;
  }
}